:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.5;
}

.accordion-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

header > h2 {
  position: relative;
  color: #444;
  font-size: 1.75rem;
  padding-bottom: .892em;
}

header > h2::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 50px;
  height: 5px;
  background: #f79c31;
}

.panel-container {
  margin: 3em 0 0;
}

.panel {
  margin-top: .937em;
  background: #f9f9f9;
  border-radius: .187em;
  border: 1px solid #ddd;
}

.panel-header {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #564990;
  border-color: #564990;
  border-top-left-radius: .187em;
  border-top-right-radius: .187em;
  transition: background .25s linear;
}

.panel-header:hover {
  background: #443776;
}

.panel-header > h3 {
  color: #fff;
  font-size: 1.125rem;
  margin: .833em 2.777em .833em .833em;
}

.arrow {
  border: solid #fff;
  font-size: 1.7rem;
  margin: .551em;
  padding: 5px;
  opacity: .5;
  border-width: 0 4px 4px 0;
  transform: rotate(-135deg);
  transition: all .15s linear;
}

.panel.open .arrow {
  margin-top: 8px;
  transform: rotate(-315deg);
  transform-origin: center center;
}

.panel-body {
  max-height: 0;
  overflow: hidden;
  transition: .35s max-height .2s;
}

.panel-body-inner {
  padding: .937em;
}

.panel.open .panel-body {
  max-height: 100vh;
}