:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
}

.boxes {
  display: flex;
  flex-flow: row wrap;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Mastering_Wrapping_of_Flex_Items#Creating_gutters_between_items */
  margin: -10px; /* hack */
}

.box {
  width: 400px;
  height: 50px;
  margin: 10px; /* hack */
  background-color: lightseagreen;
}