:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.nav-menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #036669;
}

.nav-menu > li + li {
  margin-left: 1.5em;
}

.nav-menu > li > a {
  display: block;
  padding: 20px 15px;
  color: #fff;
  height: auto;
  font-size: 2rem;
  position: relative;
  text-decoration: none;
}

.nav-menu > li > a::after {
  content: "";
  display: block;
  height: 3px;
  left: 15px;
  right: 15px;
  bottom: 0;
  opacity: 0;
  position: absolute;
  background: #ffc900;
  transition: all .35s;
}

.nav-menu > li > a.active::after,
.nav-menu > li > a:hover::after {
  opacity: 1;
  bottom: 16px;
}