:root {
  font-size: 1em;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0 1em;
}

a {
  text-decoration: none;
  margin-right: 1em;
}

.button {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  margin-top: 1.7em;
  line-height: 1.5em;
  font-size: 1.1rem;
  cursor: pointer;
  color: #fff;
  border-radius: .25rem;
  letter-spacing: .05em;
  padding: .375em .75em;
  font-family: inherit;
  background-color: #007bff;
  border: 1px solid transparent;
  transition: transform ease-in-out 250ms;
  box-shadow: -4px 3px 8px -3px rgba(0, 0, 0, .5);
}

button.button {
  outline: none;
}

.button:hover {
  transform: scale(1.1);
}