:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  height: 100px;
  background: transparent;
  transition: background 250ms ease-in;
}

.header-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.intro {
  height: 100vh;
  background: #fff url("bg.jpg");
  background-size: cover;
}

.nav-scrolled {
  color: #000;
  background: #fff;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.main {
  margin-top: 2em;
}

.main-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}