:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.footer {
  background: #1D2C40;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
}

[class*="footer-col-"] {
  flex: 100%;
  margin-bottom: 10px;
}

[class*="footer-col-"] > h3 {
  font-size: 1.6rem;
}

[class*="footer-col-"] > ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

[class*="footer-col-"] > ul > li + li {
  margin-top: 1em;
}

[class*="footer-col-"] > h3,
[class*="footer-col-"] > ul > li > a {
  color: #fff;
  text-transform: uppercase;
}

[class*="footer-col-"] > ul > li > a {
  text-decoration: none;
}

/* Tablet */
@media (min-width: 40em) {
  [class*="footer-col-"] {
    flex: 50%;
  }
}

/* Desktop */
@media (min-width: 60em) {
  [class*="footer-col"] {
    flex: 25%;
  }
}