:root {
  box-sizing: border-box;
  --header-bg: #3d9ca8;
  --nav-bg: #bcd693;
  --main-bg: #ffffe1;
  --sidebar-bg: #bcd693;
  --footer-bg: #3d9ca8;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:
    auto minmax(60px, auto) 1fr minmax(60px, auto) auto;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "sidebar"
    "footer";
  min-height: 100vh;
}

.grid-layout > * {
  padding: 1.25em;
}

.header {
  grid-area: header;
  background: var(--header-bg);
}

.nav {
  grid-area: nav;
  background: var(--nav-bg);
}

.main {
  grid-area: main;
  background: var(--main-bg);
}

.aside {
  grid-area: sidebar;
  background: var(--sidebar-bg);
}

.footer {
  grid-area: footer;
  background: var(--footer-bg);
}

@media (min-width: 52em) {
  .grid-layout {
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header header header"
      "nav    main   sidebar"
      "footer footer footer";
  }
}